@font-face{
    font-family: 'corporaterounded-plainregular';
    src: asset-url('corporaterounded-plain.eot');
    src: asset-url('corporaterounded-plain.eot?#iefix') format('embedded-opentype'),
         asset-url('corporaterounded-plain.woff') format('woff'),
         asset-url('corporaterounded-plain.ttf') format('truetype'),
         asset-url('corporaterounded-plain.svg#corporaterounded-plainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'corporaterounded-boldregular';
    src: asset-url('corporaterounded-bold.eot');
    src: local('☺'),
         asset-url('corporaterounded-bold.eot?#iefix') format('embedded-opentype'),
         asset-url('corporaterounded-bold.woff') format('woff'),
         asset-url('corporaterounded-bold.ttf') format('truetype'),
         asset-url('corporaterounded-bold.svg#corporaterounded-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'henryhandregular';
    src: asset-url('henryhand.eot');
    src: local('☺'),
         asset-url('henryhand.eot?#iefix') format('embedded-opentype'),
         asset-url('henryhand.woff') format('woff'),
         asset-url('henryhand.ttf') format('truetype'),
         asset-url('henryhand.svg#henryhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}